<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>&#33258;&#21160;&#20986;&#22270;</Name><AddInID>{2cc9ba7d-5132-441f-a552-f37097f79c55}</AddInID><Description>&#33258;&#21160;&#20986;&#22270;</Description><Version>0.1</Version><Image>Images\apple-touch-icon-precomposed.png</Image><Author>yzj</Author><Company>zcyy-ddff</Company><Date>09/25/2017</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="addin_addin.py" namespace="addin_addin"><ArcMap>
    <Commands>
        <Button caption="&#24320;&#22987;&#20986;&#22270;" category="&#33258;&#21160;&#20986;&#22270;" class="ButtonClass1" id="addin_addin.button" image="" message="" tip=""><Help heading="" /></Button>
        <ComboBox caption="&#35774;&#32622;&#26631;&#39064;" category="&#33258;&#21160;&#20986;&#22270;" class="ComboBoxClass7" id="addin_addin.combobox" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        <ComboBox caption="&#35774;&#32622;&#27604;&#20363;&#23610;&#33539;&#22260;" category="&#33258;&#21160;&#20986;&#22270;" class="ComboBoxClass11" id="addin_addin.combobox_1" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="&#33258;&#21160;&#20986;&#22270;&#24037;&#20855;" category="&#33258;&#21160;&#20986;&#22270;" id="addin_addin.toolbar" showInitially="true"><Items><Button refID="addin_addin.button" /><ComboBox refID="addin_addin.combobox" /><ComboBox refID="addin_addin.combobox_1" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>